@font-face {
    font-family: 'digital-7';
    src: url('/app/assets/digital-7.ttf');
}

body {
    background-color: #DBE4E6;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#app{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #131C21;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #B3B8CD;
}

.btn{
    padding: 20px 10px; 
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 10px 0px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

#botaoCartaoPonto{
    background-color: #5bc0de;
}

#botaoRegistrarHora{
    background-color: green;
}

#horadata{
    width: 70%;
    margin: auto;
    padding: 5px;
    background-color: #323739;
    border: 1px solid #0a0f11;
    border-radius: 5px;
}

#hora{
    font-size: 75px;
    text-align: center;
    font-family: 'digital-7', sans-serif;
}

#data{
    font-size: 30px;
    text-align: center;
    font-family: 'digital-7', sans-serif;
    letter-spacing: 3px;
}

#diasSemana{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.26);
}

.today{
    font-weight: bolder;
    color: white !important;
}

#titulo{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

#hora-btn{
    font-weight: bold;
}

#header{
    color: white;
    width: 100%;
    background-color: #2A2F32;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom: 2px solid #0a0f11;
}

#body{
    width: 90%;
    text-align: center;
}

#footer{
    width: 100%;
    text-align: center;
    font-size: 2px;
    color: gray;
    padding: 10px;
    margin-top: 30px;
}

#horaRegistrada{
    padding: 10px;
    background-color: #2A2F32;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
    font-weight: bold;
}

#horaRegistrada p{
    color:rgb(10, 185, 10);
    padding: 10px 0px;
    background-color: rgba(0, 117, 0, 0.178);
    border: 2px solid rgba(10, 185, 10, 0.795);
    border-radius: 10px;

    animation: fadeIn ease 0.5s;
}



::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    /* border: 3px solid rgba(0, 0, 0, 0.4); */
    width: 10px;
    background-color: black;
}

@media screen and (max-width: 1145px){
    #app{
        width: 50%;
    }
}

@media screen and (max-width: 750px){
    #app{
        width: 70%;
    }
}

@media screen and (max-width: 570px){
    #app{
        width: 80%;
    }
}

@media screen and (max-width: 440px){
    #app{
        width: 98%;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
